body {
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin padding */
    height: 100vh; /* Altura completa */
    width: 100vw; /* Ancho completo */
    overflow: hidden; /* Evitar el scroll */
}

/* Definición de la fuente 'j' */
@font-face {
    font-family: 'j';
    src: url('../assets/j.ttf') format('truetype');
}

/* Definición de la fuente 'h' */
@font-face {
    font-family: 'h';
    src: url('../assets/h.ttf') format('truetype');
}

/* Definición de la fuente 'hb' */
@font-face {
    font-family: 'hb';
    src: url('../assets/hb.ttf') format('truetype');
}

.container {
    height: 100%; /* Altura completa */
    width: 100%; /* Ancho completo */
    display: flex; /* Usar flexbox para centrar contenido */
    flex-direction: column; /* Dirección vertical */
    align-items: center; /* Centrar horizontalmente */
    justify-content: flex-start; /* Centrar verticalmente */
    color: white;
    padding-top: 10vw;
}

.background {
    position: fixed; /* Posición fija para la imagen de fondo */
    top: 0; /* Colocar en la parte superior */
    left: 0; /* Colocar en la parte izquierda */
    height: 100%; /* Altura completa */
    width: 100%; /* Ancho completo */
    background-image: url('../assets/fondo.webp'); /* Ruta a la imagen de fondo */
    background-size: cover; /* Cubre todo el espacio */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    z-index: -1; /* Asegurarse de que la imagen esté detrás del contenido */
}

/* Animación base */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ajustes de animación para cada elemento en cascada */
.logo {
    width: 28vw;
    max-width: 200px;
    height: auto;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

h1 {
    font-family: 'hb';
    font-size: 7vw;
    color: white;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards;
    animation-delay: 0.2s;
}

.txt-1 {
    font-family: 'h';
    font-size: 5vw;
    color: white;
    text-align: center;
    line-height: 6vw;
    margin-top: 1vw;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards;
    animation-delay: 0.4s;
}

span {
    font-family: 'hb';
    font-weight: 500;
}

.separador {
    width: 68%;
    height: 3px;
    border-radius: 10vw;
    background-color: aliceblue;
    margin-top: 4vw;
    margin-bottom: 4vw;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards;
    animation-delay: 0.6s;
}

.txt-2 {
    font-family: 'h';
    font-size: 5vw;
    color: white;
    text-align: center;
    line-height: 6vw;
    margin-top: 1vw;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards;
    animation-delay: 0.8s;
}

h2 {
    font-family: 'hb';
    font-size: 6vw;
    color: white;
    font-weight: 500;
    margin-top: 5vw;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards;
    animation-delay: 1s;
}





.modal-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #000000, #012529);
    color: white;
    display: none; /* Ocultos por defecto */
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Asegúrate de que estén por encima de todo */
    pointer-events: none; /* Evita la interacción */
}

.modal-fullscreen p {
    font-size: 1.5rem;
    text-align: center;
}

body.modal-active {
    overflow: hidden; /* Evita el scroll en el fondo */
}

.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7vw;
}

.circle-rotation {
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.495);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.327), 0px 4px 15px rgba(173, 216, 230, 0.194);
}

.circle-rotation img {
    width: auto;
    height: 70%;
}

.modal-container p {
    text-align: left;
    font-size: 3.4vw;
    color: white;
    font-family: "h";
    line-height: 4vw;
}

.modal-container-desktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
}

.modal-container-desktop p {
    text-align: left;
    font-size: 2.5vw;
    color: white;
    font-family: "h";
    line-height: 4vw;
}